1.Write a programe to find the factorial of a number.

In [ ]:
num=int(input("Enter the number:"))
factorial=1
if num<0:
  print("Negative number")
elif num == 0:
  print(1) 
else:
  for i in range(1,num+1):
    factorial = factorial * i
  print(factorial)

Enter the number:4
24

2.Write a program to generate Fibonacci series of N terms.

In [5]:
def fib(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-1) + fib(n-2)      
for i in range(int(input("Enter the terms:"))):
     print(fib(i))

Enter the terms:5
0
1
1
2
3

3.Write a program to find the sum of all items in a list.[using for loop]

In [ ]:
num=int(input("enter the size of array:"))
array=[]
sum=0
for i in range(0,num):
  arr=int(input("enter the elements:"))
  array.append(arr)
print(array)  
for i in range(0,len(array)):
  sum=sum+array[i]
print("Sum of all elements in given list:",sum)

enter the size of array:4
enter the elements:1
enter the elements:2
enter the elements:3
enter the elements:4
[1, 2, 3, 4]
Sum of all elements in given list: 10

4.Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square

In [3]:
lis=[ ]
for i in range(1000,10000):
  n=str(i)
  a=int(n[0])
  b=int(n[1])
  c=int(n[2])
  d=int(n[3])
  f=i**(0.5)
  if a%2==0 and b%2==0 and c%2==0 and d%2==0:
    if (f//1)==f:
      lis.append(n)
print(lis)

['4624', '6084', '6400', '8464']

5.Write a program using a for loop to print the multiplication table of n,is enter by the user.

In [ ]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: ")) 
l=int(input("enter the limit:"))     
for count in range(1,l+1):  
  multiplication=number*count    
  print (number, 'x', count, '=', multiplication)

Enter the number of which the user wants to print the multiplication table: 3
enter the limit:12
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

6.Display the given pyramid with the step number accepted
from the user. Eg: N=4
1
2 4
3 6 9
4 8 12 16

In [ ]:
num=int(input("enter the rows:"))
for i in range(1,num+1):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print()

enter the rows:4
1
2 4
3 6 9
4 8 12 16

7.Write a programe to find all factor of a number.[using while loop]

In [ ]:
num=int(input("enter the number:"))
print("Factor of",num,":",end=" ")
i=1
while i<=num:
  if num%i==0:
    print(i,end=" ")
  i=i+1

enter the number:42
Factor of 42 : 1 2 3 6 7 14 21 42

8.Write a program to print the reverse of a number. [use while
loop]

In [ ]:
num=int(input("Enter the number:"))
reverse=0
while(num!=0):
  digit=num%10
  reverse=reverse*10+digit
  num=num//10
print("reverse of",num,":",reverse)

Enter the number:5678
reverse of 0 : 8765

9. Write a program to find whether the given number is an Amstrong number or not. [use while loop]

In [ ]:
num=int(input("Enter the number:"))
order=len(str(num))
sum=0
temp=num
while(temp>0):
  digit=temp%10
  sum=sum+digit**order
  temp=temp//10
if (sum==num):
    print(num,"is a amstrong number")  
else:
    print(num,"not a amstrong")

Enter the number:153
153 is a amstrong number

10.Construct following pattern using nested loop
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
num=5
for i in range(num):
  for j in range(i):
    print('*',end=" ")
  print()  
for i in range(num,0,-1):
  for j in range(i):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*